.form-add-movement {
	width: 100%;

	display: grid;
	align-items: start;
	justify-content: center;
	gap: 10px;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

/* .form-add-movement * {
	min-width: max-content;
} */
