.input-color {
	width: 17px;
	height: 17px;

	aspect-ratio: 1 / 1 !important;

	border-radius: 100%;
	border: solid 2px var(--color-border);
}

.input-color::-webkit-color-swatch-wrapper {
	padding: 0;
}

.input-color::-webkit-color-swatch {
	border: none;
}
