.input-select {
	height: 100%;

	padding: 10px;

	background-color: var(--color-secondary-plane);
	border: var(--color-border) 1px solid;
	border-radius: 5px;
}

.input-select:focus {
	outline: var(--color-500) solid 1px;
}
