.form-add-movement-type {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form-add-movement-type .line {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}
